
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户信息</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/js/lib/jquery.url.js"></script>
    <script src="../static/js/blog.js"></script>
</head>
<body>

<form id="update-form" class="smart-green form">
    <h1>修改信息
        <!--<span>请留下你的信息.</span>-->
    </h1>
    <label>
        <span>密码 :</span>
        <input id="password" type="password" value="" name="password" placeholder="请输入新的密码"/>
    </label>


    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="提交"/>
    </label>
</form>

</body>
</html>